h2 {
    font-size: 2.8rem;
    line-height: 100%;
    margin-top: 2.5rem;
    color: var(--text-primary-clr);
    text-transform: capitalize;
}

.card {
    padding: 1.5rem;
    background-color: var(--surface-clr);
    border: .1rem solid rgba(123, 123, 123, 0.2);
    border-radius: 1rem;
    flex: 1;
    flex-basis: 300px;
}

.mt-5 {
    margin-top: 5rem;
}

h3 {
    font-size: 1.7rem;
    color: var(--text-primary-clr);
    margin-bottom: .7rem;
}

.service-icon {
    width: 4rem;
    aspect-ratio: 1;
    font-size: 1.8rem;
    color: var(--text-primary-clr);
    background-color: var(--background-clr);
    border: .1rem solid rgba(123, 123, 123, 0.2);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100vw;
}

.arrow {
    vertical-align: middle;

}

.m-block-1 {
    margin-block: 1rem;
}

.stretch {
    align-items: stretch;
}

.hide-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.design {
    position: relative;
}

.design::before {
    content: ' ';
    position: absolute;
    background-color: var(--accent-clr);
    inset: 2rem 0 7rem -0.7rem;
    z-index: -1;
    border-radius: inherit;
}

.border-btm {
    border-bottom: .1rem solid rgba(123, 123, 123, 0.2);
}