.hero-section {
    min-height: calc(100vh - 14vh);

}

.hero-content,
.hero-image {
    flex: 1;
    flex-basis: 300px;
}

.hero-image {
    height: calc(100vh - 14vh);
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.sub-text {
    color: var(--text-primary-clr);
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 400;
}


h1 {
    font-size: 4.5rem;
    line-height: 5rem;
    color: var(--text-primary-clr);
    margin-block: .5rem;
}

.text-green {
    color: var(--accent-clr);
}

p {
    font-size: .95rem;
    color: var(--text-secondary-clr);
    max-width: 550px;

}

.para {
    margin-block: 2rem;
}

.border-btn {
    color: var(--text-primary-clr);
    border: 1px solid;
    border-color: var(--text-primary-clr);
    background-color: transparent;
}






@media screen and (max-width:790px) {
    .hero-image {
        height: 100%;
    }
    .gap-4{
        gap: 4rem;
    }
    h1{
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .hero-content{
        padding-top: 3rem;
    }

}