.headline{
    background-color: var(--accent-clr);
    width: 100%;
    
}
.moving-text{
    padding-block: .8rem;
    white-space: nowrap;
    overflow: auto;

}

.moving-text::-webkit-scrollbar{
    display: none;
}
.container{
    display: inline-block;
    animation: slide-left 12s linear infinite;
    
}
.container h5{
    color: var(--background--clr);
    font-size: 2.2rem;
    display: inline-block;
    margin-right: 3rem;

}


.container .star{
    font-size: 1.5rem;
    margin-right: 3rem;

}



@keyframes slide-left {
    100%{
        transform: translateX(-100%);
    }
}